@model IEnumerable<UserModel>


<div class="col-xl-9 col-lg-8  col-md-12">
    <div class="card shadow-sm ctm-border-radius">
        <div class="card-body align-center">
            <h4 class="card-title float-left mb-0 mt-2"></h4>
            <ul class="nav nav-tabs float-right border-0 tab-list-emp">
                <li class="nav-item">
                    <a class="nav-link border-0 font-23 grid-view" href="~/Role/Index"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link border-0 font-23 active list-view" href="~/Role/Index"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item pl-3">
                    <a href="~/User/Create" class="btn btn-theme button-1 text-white ctm-border-radius p-2 add-person ctm-btn-padding"><i class="fa fa-plus"></i> Add User</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ctm-border-radius shadow-sm card">
        <div class="card-body">

            <!--Content table-->
            <div >
                <div >
                    <table class="table  table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Mobile No </th>
                                <th>Email </th>
                                <th>Password </th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var user in Model)
                                {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.MobileNo</td>
                                <td>@user.Email</td>
                                <td>@user.Password</td>
                             @foreach(var item in user.UserRoles)
                             {
                        <td>@item.Role.RoleName</td>
                             }
                                <td><a asp-action="Edit" asp-route-id="@user.Id">Edit</a></td>
                            </tr>
}}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /Content Table -->

        </div>
    </div>

</div>



